
<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/3.4/menu">

	<menu id="root-menu" label="Openbox 3">

		<separator label="Apps"/>

		<item label="Terminal">
			<action name="Execute">
				<execute>urxvtc</execute>
			</action>
		</item>

		<item label="File Manager">
			<action name="Execute">
				<execute>urxvtc -name ranger -e sh -c "$FILE_MANAGER"</execute>
			</action>
		</item>

		<item label="Web Browser">
			<action name="Execute">
				<execute>firefox</execute>
			</action>
		</item>

		<menu id="pipe-menu" label="Other" execute="xdg_menu --format openbox3-pipe --root-menu /etc/xdg/menus/arch-applications.menu"/>

		<separator label="System"/>

		<item label="PulseMixer">
			<action name="Execute">
				<execute>urxvtc -title pulsemixer -e sh -c "pulsemixer"</execute>
			</action>	
		</item>

		<item label="Htop">
			<action name="Execute">
				<execute>urxvtc -title htop -e sh -c "htop"</execute>
			</action>	
		</item>

		<menu id="system-menu" label="Preferences">
			<item label="Edit rc.xml">
				<action name="Execute">
					<execute>urxvtc -title "Edit rc.xml" -name edit -e sh -c "$EDITOR $HOME/.config/openbox/rc.xml"</execute>
				</action>	
			</item>
			<item label="Edit menu.xml">
				<action name="Execute">
					<execute>urxvtc -title "Edit menu.xml" -name edit -e sh -c "$EDITOR $HOME/.config/openbox/menu.xml"</execute>
				</action>	
			</item>
			<item label="Reconfigure Openbox">
				<action name="Execute">
					<execute>openbox --reconfigure</execute>
				</action>	
			</item>
		</menu>

		<separator/>

		<item label="Log out">
			<action name="Execute">
				<execute>openbox --exit</execute>
			</action>
		</item>

		<item label="Reboot">
			<action name="Execute">
				<execute>systemctl reboot</execute>
			</action>
		</item>

		<item label="Shutdown">
			<action name="Execute">
				<!--<prompt>Shutdown?</prompt>-->
				<execute>systemctl poweroff</execute>
			</action>
		</item>
	</menu>

</openbox_menu>
